@import "tailwindcss";

:root {
  --background: black;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24;
}

.row {
  display: flex;
  justify-content: space-evenly;
  padding: 40 0
}

.line {
  stroke:red;
  stroke-width:2;
  position: fixed;
}

.metadata {
  display: flex;
  justify-content: space-evenly;
}

input {
  border-color: rgba(229, 103, 23, 0.8);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
  outline: 0 none;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  margin: 40 0
}